<!DOCTYPE html>
<html lang="en">

<!-- Head components -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission To Mars Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!-- Setting up top banner and button to perform scrape -->
    <div class="container">
        <div class="jumbotron text-center border-bottom">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
        </div>
        <!-- Div to place the latest mars news scrape -->
        <div class="row" id="mars_scrape">
            <div class="col-md-12">
                <h2><u>Latest Mars News Article</u></h2>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-12">
                <h4 class="heading">{{mars_dict.News_Title}}</h4>
                <p>{{mars_dict.News_Article}}</p>
            </div>
        </div>
        <hr>
        <div>
            <!-- Div to place the Featured Martian Image from scrape -->
            <div class="row">
                <div class="col-md-8 border">
                    <h2 class=""><u>Featured Martian Image</u></h2>
                    </br>
                    <img src="{{mars_dict.Featured_Image}}" alt="Mars Featured Image">
                </div>
                <!-- Div to place the mars facts from scrape -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4><b>Mars Facts</b></h4>
                                <p>{{mars_dict.Mars_Facts | safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Area to place martian hemisphere  -->
        <div class="row">
            <div class="col-md-8 offest-4">
                <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>
            </div>
        </div>
        </br>
        <div class="row" style="margin-top: 80px;">
            <div class="page-header">
                <h2 class="text-center"><b>Mars Hemispheres</b></h2>
            </div>
            <div class="row" id="images">
                <div class="col-lg-5 col-md-12">
                    <div class="box">
                        <div class="title">
                            <h5>Mars Hemispheres</h5>
                        </div>
                        <hr>
                        <!-- for loop to iterate trhough the Mars_Hemisphere key and place on webpage -->
                        <div class="row" id="images">
                            {% for hemisphere in mars_dict.Mars_Hemispheres %}
                            <div class="col-md-6">
                                <img src={{ hemisphere ["img_url"] }} style="width: 100%; height: 100%">
                                <div class="caption">
                                    <h4>{{ hemisphere ["title"] }}</h4>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</body>

</html>